<section>
    <h1>Bank Login</h1>
    <form [formGroup]="formlogin">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        </div>
            <button type="button" (click)="login()" class="btn btn-primary login">Sign In</button>
            <br>
            <button type="button" (click)="googlesign()" class="btn btn-primary login">Google SignIn</button>

      </form>
</section>